{% extends "base.html.twig" %}

{% block body %}
    </header><!--/header-->
    <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>Offers Pool</h2>
               <p class="lead">These are only the latest offers our subscribers can become part of. Offers pool is growing constantly and new ones appear every day</p>
            </div>
        
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".bootstrap">Employment</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".html">Travel & Fun</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wordpress">Business & Finance</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".edu">Education</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".apps">Advanced</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items">
                    <div class="portfolio-item html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.travelflex.com" target="_blank">TravelFlex.com</a> </h3>
                                    <p>A subscription based network dedicated to traveling, tourism and travel offers</p>
                                    <a class="preview" href="http://www.travelflex.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item2.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.jobbery.com" target="_blank">Jobbery.com</a></h3>
                                    <p>Job offers in the email, job consulting and much more for job seekers in one place</p>
                                    <a class="preview" href="http://www.jobbery.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item edu apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item3.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.smartedupicks.com" target="_blank">SmartEduPicks.com</a></h3>
                                    <p>A premium subscription network dedicated to education/online courses & trainings</p>
                                    <a class="preview" href="http://www.smartedupicks.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div>  
                            </div>
                        </div>        
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item4.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.finsensitive.com" target="_blank">FinSensitive.com</a></h3>
                                    <p>Email marketing resource dedicated to stocks, shared and capital market in general</p>
                                    <a class="preview" href="http://www.finsensitive.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div>
                            </div>
                        </div>           
                    </div><!--/.portfolio-item-->
          
                    <div class="portfolio-item wordpress apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item5.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.insuranceguidance.com" target="_blank">InsuranceGuide.com</a></h3>
                                    <p>All around insurance market, including top offers, vendors and market trends</p>
                                    <a class="preview" href="http://www.insuranceguidance.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div>  
                            </div>
                        </div>      
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item6.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.officejobsguru.com" target="_blank">OfficeJobsGuru.com</a></h3>
                                    <p>Getting a job in the office has never been that easy. Get exclusive access to job offers from top employers</p>
                                    <a class="preview" href="http://www.officejobsguru.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>         
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item7.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.remotejobsforall.com" target="_blank">RemoteJobsForAll.com</a></h3>
                                    <p>A premium subscription network dedicated to off-site jobs and alternative employment</p>
                                    <a class="preview" href="http://www.remotejobsforall.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item html col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="../images/portfolio/recent/item8.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.relaxst.com" target="_blank">Relaxst.com</a></h3>
                                    <p>Loads of cool externatinment content available through our premium email marketing campaigns</p>
                                    <a class="preview" href="http://www.relaxst.com" target="_blank"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->
{% endblock %}

