{% extends "base.html.twig" %}

{% block body %}
    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Our Services</h2>
                <p class="lead">Below are the core services we provide to our customers. Stay tuned as the number of available products and services is constantly growing </p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Email Marketing</h2>
                            <h3 style="font-size: 12px" >We connect our ever growing subscriber base with top partner offers</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Ad management</h2>
                            <h3 style="font-size: 12px">We manage email campaigns for our partners for industry's highest ROI</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Data solutions</h2>
                            <h3 style="font-size: 12px">Advanced customer data management solutions</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>Campaign consulting</h2>
                            <h3 style="font-size: 12px">Always have you campaigns go out the best way</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Advanced matching</h2>
                            <h3 style="font-size: 12px">High-end offer matching tool provide industry's leading conversion rates</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Dedicated support</h2>
                            <h3 style="font-size: 12px">Mediaff.com is always there for any assistance or partnership</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->     


            <div class="get-started center wow fadeInDown">
                <h2>Ready to get started</h2>
                <p class="lead">Are you ready to join the world of e-marketing but not sure where to start. Feel free to reach out to us using form below and one of our dedicated customer support reps will be in touch with you shortly</p>
                <div class="request">
                    <h4><a href="#">Request a free Quote</a></h4>
                </div>
            </div><!--/.get-started-->

            <div class="clients-area center wow fadeInDown">
                <h2>What our client says</h2>
            </div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="{{ asset('images/client1.png') }}" class="img-circle" alt="">
                        <h3>Mediaff's email marketing campaigns helped us increse sales by 17% within just 2 month</h3>
                        <h4><span>-Monika M / </span>Sales Manager</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="{{ asset('images/client2.png') }}" class="img-circle" alt="">
                        <h3>Their data cleansing solutions helped us reduce bounce rates at reasonable price</h3>
                        <h4><span>-Steven P /</span> Data Governance Lead</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="{{ asset('images/client3.png') }}" class="img-circle" alt="">
                        <h3>Been managing our email campaigns with these guys and it's been great</h3>
                        <h4><span>-Mike P /</span> Campaign Manager</h4>
                    </div>
                </div>
           </div>

        </div><!--/.container-->
    </section><!--/#feature-->
{% endblock %}
