{% extends "backendbase.html.twig" %}

{% block logout %}
	<li class="active"><a href="{{ path('campaigns') }}">Campaign Manager</a></li>
        <li ><a href="http://sendy.mediaff.com">Sendy</a></li>
{% endblock %}
{% block navright %}
    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-user"></span>Log Out</a></li>
{% endblock %}

{% block body %}
	<body>
		<div class="container">
		  	<h2>{{ partnername }} campaign with {{ numsubscribers }} emails was create successfully</h2>
		</div>
	</body>
{% endblock %}
